div.navbar.navbar-default > div.container > li > a {
    line-height:75px;
}
body{
    background-color: rgba(123, 229, 232, 0.38);
}
div.content{
    text-align: center;
    margin-top: 160px;
    margin-bottom: 40px;
}
.form-group{
    margin-bottom: 30px;
    margin-top: 30px;
}
li{
    list-style-type:none;
}
.add-post-link{
    margin-top: 20px;
    margin-bottom: 10px;
}
tr{
    line-height: 25px!important;
    min-height: 25px!important;
    height: 25px!important;
}

.table>tbody>tr>td
{
    padding-top: 20px;
    padding-bottom: 20px;
}
div.login {
    width: 850px;
    height: 750px;
    text-align: justify;
    margin-bottom: 50px;
    margin-top: 50px;
}
div.row-login{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 50px;
}
div.row.row-login{
    height:500px
}
div.row-register{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}
div.row.row-register{
    height: 100px;
}
div.row-form{
    width:500px
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
div.row.row-form{
    height:400px;
}

div.row.row-form > form{
    height:275px;
}
div.well{
    font-size: 25px;
}
.question-title{
    background-color: white;
    border-radius: 10px;
    height: 50px;
    color:darkred;
}
.question-content{
    background-color: white;
    border-radius: 10px;
    height: 120px;
 }
.answer-content{
    background-color: white;
    border-radius: 10px;
}
.answer-content>p{
    text-align: justify;
    padding: 10px 10px 10px 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}
}
.your-answer{


}


