/*

JAMAIS DE HEIGHT EN CSS !!!

*/

div.navbar.navbar-default > div.container > li > a {
    line-height:75px;
}

.navbar-right a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

body{
}

div.content {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 40px;
}
.form-group{
    margin-bottom: 30px;
    margin-top: 30px;
}
li{
    list-style-type:none;
}
.add-post-link{
    margin-top: 20px;
    margin-bottom: 10px;
}
div.login {
    width: 450px;
    text-align: justify;
    margin-bottom: 50px;
    margin-top: 50px;
	-moz-box-shadow: 0px 0px 30px 0px #656565;
	-webkit-box-shadow: 0px 0px 30px 0px #656565;
	-o-box-shadow: 0px 0px 30px 0px #656565;
	box-shadow: 0px 0px 30px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=30);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
div.row-form {
    background: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 auto;
}
div.row-form form {
    margin: 0 auto;
    width: 350px;
}
div.row-register {
    background: lightgrey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
div.row-form, div.row-register {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
div.well{
    font-size: 25px;
}
.question-content{
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
 }
.answer-content{
    background-color: white;
    border-radius: 10px;
}
.answer-content>p{
    text-align: justify;
    padding: 10px 10px 10px 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.info-user, .info-answers{
    font-size: 10px;
    color: black;
}
a:hover {
    text-decoration: none;
}
.question-list-header {
    padding-top: 40px;
    padding-bottom: 40px;
}
.question-line {
    border-bottom : solid 1px lightgrey;
    padding-top: 40px;
    padding-bottom: 40px;
}
.question-line:hover {
    background : #F1F1F1;
}
.question-line .answers {
    text-align: center;
}
.question-line .answers .last-update {
    position: absolute;
    bottom: -35px;
    color: grey;
    font-size: 0.9em;
}
.question-line .question-title .content {
    position: absolute;
    bottom: -60px;
    color: grey;
    font-size: 0.9em;
}
.question-line .created, .question-line .user-full-name {
    padding-top: 15px;
}
.question-line .answers .nb-answers, .question-line .question-title > a {
    font-size: 1.4em;
    font-weight: bold;
}